<div>
  <td class="m_5047577720266085133mlTemplateContainer" align="center">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="m_5047577720266085133mlContentTable"
      width="860">
      <tbody>
        <tr>
          <td>
            <table align="center" border="0" bgcolor="#ffffff" class="m_5047577720266085133mlContentTable"
              cellpadding="0" cellspacing="0" width="860">
              <tbody>
                <tr>
                  <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                      class="m_5047577720266085133mlContentTable" style="width:860px;min-width:860px" width="860">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding:0px 120px"
                                    class="m_5047577720266085133mlContentOuter">
                                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                      <tbody>
                                        <tr>
                                          <td id="m_5047577720266085133bodyText-10"
                                            style="font-family:Helvetica,sans-serif;font-size:14px;line-height:24px;color:#727586">

                                            <p
                                              style="margin-top:0px;margin-bottom:0px;line-height:32px;font-weight:400px;font-size:16px">
                                              Olá {{name}},</p>
                                            <p
                                              style="margin-top:0px;margin-bottom:0px;line-height:32px;font-weight:400px;font-size:16px">
                                              Nós recebemos um pedido para redefinir a sua senha. Se você não fez esse
                                              pedido, apenas ignore esta mensagem.</p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td height="17" class="m_5047577720266085133spacingHeight-20"
                                    style="line-height:20px;min-height:20px"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>


            <table align="center" border="0" bgcolor="#ffffff" class="m_5047577720266085133mlContentTable"
              cellpadding="0" cellspacing="0" width="860">
              <tbody>
                <tr>
                  <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                      class="m_5047577720266085133mlContentTable" style="width:860px;min-width:860px" width="860">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td height="10" style="line-height:10px;min-height:10px"></td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding:0px 120px"
                                    class="m_5047577720266085133mlContentOuter">
                                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                      <tbody>
                                        <tr>
                                          <td id="m_5047577720266085133bodyText-10"
                                            style="font-family:Helvetica,sans-serif;font-size:14px;line-height:24px;color:#727586">
                                            <p
                                              style="margin-top:0px;margin-bottom:0px;line-height:32px;font-weight:400px;font-size:16px">
                                              Do contrário, você pode redefinir sua senha usando este botão:</p>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td height="17" class="m_5047577720266085133spacingHeight-20"
                                    style="line-height:20px;min-height:20px"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" border="0" bgcolor="#ffffff" class="m_5047577720266085133mlContentTable"
              cellpadding="0" cellspacing="0" width="860">
              <tbody>
                <tr>
                  <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                      class="m_5047577720266085133mlContentTable" style="width:860px;min-width:860px" width="860">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td height="10" style="line-height:10px;min-height:10px"></td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding:0px 120px"
                                    class="m_5047577720266085133mlContentOuter">
                                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
                                      style="width:100%;min-width:100%">
                                      <tbody>
                                        <tr>
                                          <td align="left">
                                            <table border="0" cellpadding="0" cellspacing="0" width=""
                                              style="width:250px;min-width:250px">
                                              <tbody>
                                                <tr>
                                                  <td align="left" class="m_5047577720266085133mlContentButton"
                                                    style="font-family:Helvetica,sans-serif;padding-bottom:10px;padding-top:10px">

                                                    <a class="m_5047577720266085133mlContentButton"
                                                      href="{{link}}"
                                                      style="font-family:Helvetica,sans-serif;background-color:#28a745;border-radius:4px;color:#ffffff;display:inline-block;font-size:16px;font-weight:700;line-height:24px;padding:17px 0 17px 0;text-align:center;text-decoration:none;width:220px"
                                                      target="_blank"
                                                      data-saferedirecturl="https://www.google.com/url?q=https://mailer.hostinger.io/248457392/60ddbdb0a2698e8936032e796e5b46c0/2514?e%3DeNoNyDsOwyAMANAbYSlJq9KNgSMwMDpg1fmQoNhEoqdv3%252FhYtcobIFU8aDd8ii7Hhy6TzmLmC7ApQ2JKG2xQfYkDjuF2OYp%252FhqF%252FYybb5%252F%252FnXhqj%252BoIjSZ%252Fc6rjZIPFBL7Q%252B4w%252FpcyWZ%26s%3D233e6c9d93ef07795e9e36ddfc0389d90d17d8cf3a89d6137808b8c24568f6d5&amp;source=gmail&amp;ust=1618538366655000&amp;usg=AFQjCNENGFjOAAsGw6KPCcMN86xIBw8dLA">Redefinir
                                                      minha senha</a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td height="20" class="m_5047577720266085133spacingHeight-20"
                                    style="line-height:20px;min-height:20px"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" border="0" bgcolor="#ffffff" class="m_5047577720266085133mlContentTable"
              cellpadding="0" cellspacing="0" width="860">
              <tbody>
                <tr>
                  <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                      class="m_5047577720266085133mlContentTable" style="width:860px;min-width:860px" width="860">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding:0px 120px"
                                    class="m_5047577720266085133mlContentOuter">
                                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                      <tbody>
                                        <tr>
                                          <td id="m_5047577720266085133bodyText-18"
                                            style="font-family:Helvetica,sans-serif;font-size:14px;line-height:24px;color:#727586">
                                            <p style="margin-top:0px;margin-bottom:0px;line-height:24px"><span
                                                style="font-size:14px"><span style="font-size:14px"><span
                                                    style="font-size:14px"><span style="color:#727586">© 2021
                                                      OpeNet.</span></span>
                                                </span>
                                              </span>
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="860"
                              style="width:860px;min-width:860px" class="m_5047577720266085133mlContentTable">
                              <tbody>
                                <tr>
                                  <td height="35" class="m_5047577720266085133spacingHeight-20"
                                    style="line-height:20px;min-height:20px"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="m_5047577720266085133mobileHide">
      <tbody>
        <tr>
          <td colspan="2" height="20"></td>
        </tr>
      </tbody>
    </table>
  </td>
</div>